<settings>

    <!-- Split distance -->
    <setting propertyKey="@Properties.split" title='Split distance' prompt='Split distance for the lap where you want the watch to buzz'>
        <settingConfig type="list">
            <listEntry value="100">100m</listEntry>
            <listEntry value="200">200m</listEntry>
            <listEntry value="400">400m</listEntry>
        </settingConfig>
    </setting>

     <!-- Pace -->
    <setting propertyKey="@Properties.pace" title='Pace (in km)' prompt='The pace you want the watch to follow'>
        <settingConfig type="list">
            <listEntry value="107">1:47 (current world record)</listEntry>
            <listEntry value="108">1:48 (0:43/400m)</listEntry>
            <listEntry value="109">1:49 (0:43/400m)</listEntry>
            <listEntry value="110">1:50 (0:44/400m)</listEntry>
            <listEntry value="111">1:51 (0:44/400m)</listEntry>
            <listEntry value="112">1:52 (0:44/400m)</listEntry>
            <listEntry value="113">1:53 (0:45/400m)</listEntry>
            <listEntry value="114">1:54 (0:45/400m)</listEntry>
            <listEntry value="115">1:55 (0:46/400m)</listEntry>
            <listEntry value="116">1:56 (0:46/400m)</listEntry>
            <listEntry value="117">1:57 (0:46/400m)</listEntry>
            <listEntry value="118">1:58 (0:47/400m)</listEntry>
            <listEntry value="119">1:59 (0:47/400m)</listEntry>
            <listEntry value="120">2:00 (0:48/400m)</listEntry>
            <listEntry value="121">2:01 (0:48/400m)</listEntry>
            <listEntry value="122">2:02 (0:48/400m)</listEntry>
            <listEntry value="123">2:03 (0:49/400m)</listEntry>
            <listEntry value="124">2:04 (0:49/400m)</listEntry>
            <listEntry value="125">2:05 (0:50/400m)</listEntry>
            <listEntry value="126">2:06 (0:50/400m)</listEntry>
            <listEntry value="127">2:07 (0:50/400m)</listEntry>
            <listEntry value="128">2:08 (0:51/400m)</listEntry>
            <listEntry value="129">2:09 (0:51/400m)</listEntry>
            <listEntry value="130">2:10 (0:52/400m)</listEntry>
            <listEntry value="131">2:11 (0:52/400m)</listEntry>
            <listEntry value="132">2:12 (0:52/400m)</listEntry>
            <listEntry value="133">2:13 (0:53/400m)</listEntry>
            <listEntry value="134">2:14 (0:53/400m)</listEntry>
            <listEntry value="135">2:15 (0:54/400m)</listEntry>
            <listEntry value="136">2:16 (0:54/400m)</listEntry>
            <listEntry value="137">2:17 (0:54/400m)</listEntry>
            <listEntry value="138">2:18 (0:55/400m)</listEntry>
            <listEntry value="139">2:19 (0:55/400m)</listEntry>
            <listEntry value="140">2:20 (0:56/400m)</listEntry>
            <listEntry value="141">2:21 (0:56/400m)</listEntry>
            <listEntry value="142">2:22 (0:56/400m)</listEntry>
            <listEntry value="143">2:23 (0:57/400m)</listEntry>
            <listEntry value="144">2:24 (0:57/400m)</listEntry>
            <listEntry value="145">2:25 (0:58/400m)</listEntry>
            <listEntry value="146">2:26 (0:58/400m)</listEntry>
            <listEntry value="147">2:27 (0:58/400m)</listEntry>
            <listEntry value="148">2:28 (0:59/400m)</listEntry>
            <listEntry value="149">2:29 (0:59/400m)</listEntry>
            <listEntry value="150">2:30 (1:00/400m)</listEntry>
            <listEntry value="151">2:31 (1:00/400m)</listEntry>
            <listEntry value="152">2:32 (1:00/400m)</listEntry>
            <listEntry value="153">2:33 (1:01/400m)</listEntry>
            <listEntry value="154">2:34 (1:01/400m)</listEntry>
            <listEntry value="155">2:35 (1:02/400m)</listEntry>
            <listEntry value="156">2:36 (1:02/400m)</listEntry>
            <listEntry value="157">2:37 (1:02/400m)</listEntry>
            <listEntry value="158">2:38 (1:03/400m)</listEntry>
            <listEntry value="159">2:39 (1:03/400m)</listEntry>
            <listEntry value="160">2:40 (1:04/400m)</listEntry>
            <listEntry value="161">2:41 (1:04/400m)</listEntry>
            <listEntry value="162">2:42 (1:04/400m)</listEntry>
            <listEntry value="163">2:43 (1:05/400m)</listEntry>
            <listEntry value="164">2:44 (1:05/400m)</listEntry>
            <listEntry value="165">2:45 (1:06/400m)</listEntry>
            <listEntry value="166">2:46 (1:06/400m)</listEntry>
            <listEntry value="167">2:47 (1:06/400m)</listEntry>
            <listEntry value="168">2:48 (1:07/400m)</listEntry>
            <listEntry value="169">2:49 (1:07/400m)</listEntry>
            <listEntry value="170">2:50 (1:08/400m)</listEntry>
            <listEntry value="171">2:51 (1:08/400m)</listEntry>
            <listEntry value="172">2:52 (1:08/400m)</listEntry>
            <listEntry value="173">2:53 (1:09/400m)</listEntry>
            <listEntry value="174">2:54 (1:09/400m)</listEntry>
            <listEntry value="175">2:55 (1:10/400m)</listEntry>
            <listEntry value="176">2:56 (1:10/400m)</listEntry>
            <listEntry value="177">2:57 (1:10/400m)</listEntry>
            <listEntry value="178">2:58 (1:11/400m)</listEntry>
            <listEntry value="179">2:59 (1:11/400m)</listEntry>
            <listEntry value="180">3:00 (1:12/400m)</listEntry>
            <listEntry value="181">3:01 (1:12/400m)</listEntry>
            <listEntry value="182">3:02 (1:12/400m)</listEntry>
            <listEntry value="183">3:03 (1:13/400m)</listEntry>
            <listEntry value="184">3:04 (1:13/400m)</listEntry>
            <listEntry value="185">3:05 (1:14/400m)</listEntry>
            <listEntry value="186">3:06 (1:14/400m)</listEntry>
            <listEntry value="187">3:07 (1:14/400m)</listEntry>
            <listEntry value="188">3:08 (1:15/400m)</listEntry>
            <listEntry value="189">3:09 (1:15/400m)</listEntry>
            <listEntry value="190">3:10 (1:16/400m)</listEntry>
            <listEntry value="191">3:11 (1:16/400m)</listEntry>
            <listEntry value="192">3:12 (1:16/400m)</listEntry>
            <listEntry value="193">3:13 (1:17/400m)</listEntry>
            <listEntry value="194">3:14 (1:17/400m)</listEntry>
            <listEntry value="195">3:15 (1:18/400m)</listEntry>
            <listEntry value="196">3:16 (1:18/400m)</listEntry>
            <listEntry value="197">3:17 (1:18/400m)</listEntry>
            <listEntry value="198">3:18 (1:19/400m)</listEntry>
            <listEntry value="199">3:19 (1:19/400m)</listEntry>
            <listEntry value="200">3:20 (1:20/400m)</listEntry>
            <listEntry value="201">3:21 (1:20/400m)</listEntry>
            <listEntry value="202">3:22 (1:20/400m)</listEntry>
            <listEntry value="203">3:23 (1:21/400m)</listEntry>
            <listEntry value="204">3:24 (1:21/400m)</listEntry>
            <listEntry value="205">3:25 (1:22/400m)</listEntry>
            <listEntry value="206">3:26 (1:22/400m)</listEntry>
            <listEntry value="207">3:27 (1:22/400m)</listEntry>
            <listEntry value="208">3:28 (1:23/400m)</listEntry>
            <listEntry value="209">3:29 (1:23/400m)</listEntry>
            <listEntry value="210">3:30 (1:24/400m)</listEntry>
            <listEntry value="211">3:31 (1:24/400m)</listEntry>
            <listEntry value="212">3:32 (1:24/400m)</listEntry>
            <listEntry value="213">3:33 (1:25/400m)</listEntry>
            <listEntry value="214">3:34 (1:25/400m)</listEntry>
            <listEntry value="215">3:35 (1:26/400m)</listEntry>
            <listEntry value="216">3:36 (1:26/400m)</listEntry>
            <listEntry value="217">3:37 (1:26/400m)</listEntry>
            <listEntry value="218">3:38 (1:27/400m)</listEntry>
            <listEntry value="219">3:39 (1:27/400m)</listEntry>
            <listEntry value="220">3:40 (1:28/400m)</listEntry>
            <listEntry value="221">3:41 (1:28/400m)</listEntry>
            <listEntry value="222">3:42 (1:28/400m)</listEntry>
            <listEntry value="223">3:43 (1:29/400m)</listEntry>
            <listEntry value="224">3:44 (1:29/400m)</listEntry>
            <listEntry value="225">3:45 (1:30/400m)</listEntry>
            <listEntry value="226">3:46 (1:30/400m)</listEntry>
            <listEntry value="227">3:47 (1:30/400m)</listEntry>
            <listEntry value="228">3:48 (1:31/400m)</listEntry>
            <listEntry value="229">3:49 (1:31/400m)</listEntry>
            <listEntry value="230">3:50 (1:32/400m)</listEntry>
            <listEntry value="231">3:51 (1:32/400m)</listEntry>
            <listEntry value="232">3:52 (1:32/400m)</listEntry>
            <listEntry value="233">3:53 (1:33/400m)</listEntry>
            <listEntry value="234">3:54 (1:33/400m)</listEntry>
            <listEntry value="235">3:55 (1:34/400m)</listEntry>
            <listEntry value="236">3:56 (1:34/400m)</listEntry>
            <listEntry value="237">3:57 (1:34/400m)</listEntry>
            <listEntry value="238">3:58 (1:35/400m)</listEntry>
            <listEntry value="239">3:59 (1:35/400m)</listEntry>
            <listEntry value="240">4:00 (1:36/400m)</listEntry>
            <listEntry value="241">4:01 (1:36/400m)</listEntry>
            <listEntry value="242">4:02 (1:36/400m)</listEntry>
            <listEntry value="243">4:03 (1:37/400m)</listEntry>
            <listEntry value="244">4:04 (1:37/400m)</listEntry>
            <listEntry value="245">4:05 (1:38/400m)</listEntry>
            <listEntry value="246">4:06 (1:38/400m)</listEntry>
            <listEntry value="247">4:07 (1:38/400m)</listEntry>
            <listEntry value="248">4:08 (1:39/400m)</listEntry>
            <listEntry value="249">4:09 (1:39/400m)</listEntry>
            <listEntry value="250">4:10 (1:40/400m)</listEntry>
            <listEntry value="251">4:11 (1:40/400m)</listEntry>
            <listEntry value="252">4:12 (1:40/400m)</listEntry>
            <listEntry value="253">4:13 (1:41/400m)</listEntry>
            <listEntry value="254">4:14 (1:41/400m)</listEntry>
            <listEntry value="255">4:15 (1:42/400m)</listEntry>
            <listEntry value="256">4:16 (1:42/400m)</listEntry>
            <listEntry value="257">4:17 (1:42/400m)</listEntry>
            <listEntry value="258">4:18 (1:43/400m)</listEntry>
            <listEntry value="259">4:19 (1:43/400m)</listEntry>
            <listEntry value="260">4:20 (1:44/400m)</listEntry>
            <listEntry value="261">4:21 (1:44/400m)</listEntry>
            <listEntry value="262">4:22 (1:44/400m)</listEntry>
            <listEntry value="263">4:23 (1:45/400m)</listEntry>
            <listEntry value="264">4:24 (1:45/400m)</listEntry>
            <listEntry value="265">4:25 (1:46/400m)</listEntry>
            <listEntry value="266">4:26 (1:46/400m)</listEntry>
            <listEntry value="267">4:27 (1:46/400m)</listEntry>
            <listEntry value="268">4:28 (1:47/400m)</listEntry>
            <listEntry value="269">4:29 (1:47/400m)</listEntry>
            <listEntry value="270">4:30 (1:48/400m)</listEntry>
            <listEntry value="271">4:31 (1:48/400m)</listEntry>
            <listEntry value="272">4:32 (1:48/400m)</listEntry>
            <listEntry value="273">4:33 (1:49/400m)</listEntry>
            <listEntry value="274">4:34 (1:49/400m)</listEntry>
            <listEntry value="275">4:35 (1:50/400m)</listEntry>
            <listEntry value="276">4:36 (1:50/400m)</listEntry>
            <listEntry value="277">4:37 (1:50/400m)</listEntry>
            <listEntry value="278">4:38 (1:51/400m)</listEntry>
            <listEntry value="279">4:39 (1:51/400m)</listEntry>
            <listEntry value="280">4:40 (1:52/400m)</listEntry>
            <listEntry value="281">4:41 (1:52/400m)</listEntry>
            <listEntry value="282">4:42 (1:52/400m)</listEntry>
            <listEntry value="283">4:43 (1:53/400m)</listEntry>
            <listEntry value="284">4:44 (1:53/400m)</listEntry>
            <listEntry value="285">4:45 (1:54/400m)</listEntry>
            <listEntry value="286">4:46 (1:54/400m)</listEntry>
            <listEntry value="287">4:47 (1:54/400m)</listEntry>
            <listEntry value="288">4:48 (1:55/400m)</listEntry>
            <listEntry value="289">4:49 (1:55/400m)</listEntry>
            <listEntry value="290">4:50 (1:56/400m)</listEntry>
            <listEntry value="291">4:51 (1:56/400m)</listEntry>
            <listEntry value="292">4:52 (1:56/400m)</listEntry>
            <listEntry value="293">4:53 (1:57/400m)</listEntry>
            <listEntry value="294">4:54 (1:57/400m)</listEntry>
            <listEntry value="295">4:55 (1:58/400m)</listEntry>
            <listEntry value="296">4:56 (1:58/400m)</listEntry>
            <listEntry value="297">4:57 (1:58/400m)</listEntry>
            <listEntry value="298">4:58 (1:59/400m)</listEntry>
            <listEntry value="299">4:59 (1:59/400m)</listEntry>
            <listEntry value="300">5:00 (2:00/400m)</listEntry>
            <listEntry value="301">5:01 (2:00/400m)</listEntry>
            <listEntry value="302">5:02 (2:00/400m)</listEntry>
            <listEntry value="303">5:03 (2:01/400m)</listEntry>
            <listEntry value="304">5:04 (2:01/400m)</listEntry>
            <listEntry value="305">5:05 (2:02/400m)</listEntry>
            <listEntry value="306">5:06 (2:02/400m)</listEntry>
            <listEntry value="307">5:07 (2:02/400m)</listEntry>
            <listEntry value="308">5:08 (2:03/400m)</listEntry>
            <listEntry value="309">5:09 (2:03/400m)</listEntry>
            <listEntry value="310">5:10 (2:04/400m)</listEntry>
            <listEntry value="311">5:11 (2:04/400m)</listEntry>
            <listEntry value="312">5:12 (2:04/400m)</listEntry>
            <listEntry value="313">5:13 (2:05/400m)</listEntry>
            <listEntry value="314">5:14 (2:05/400m)</listEntry>
            <listEntry value="315">5:15 (2:06/400m)</listEntry>
            <listEntry value="316">5:16 (2:06/400m)</listEntry>
            <listEntry value="317">5:17 (2:06/400m)</listEntry>
            <listEntry value="318">5:18 (2:07/400m)</listEntry>
            <listEntry value="319">5:19 (2:07/400m)</listEntry>
            <listEntry value="320">5:20 (2:08/400m)</listEntry>
            <listEntry value="321">5:21 (2:08/400m)</listEntry>
            <listEntry value="322">5:22 (2:08/400m)</listEntry>
            <listEntry value="323">5:23 (2:09/400m)</listEntry>
            <listEntry value="324">5:24 (2:09/400m)</listEntry>
            <listEntry value="325">5:25 (2:10/400m)</listEntry>
            <listEntry value="326">5:26 (2:10/400m)</listEntry>
            <listEntry value="327">5:27 (2:10/400m)</listEntry>
            <listEntry value="328">5:28 (2:11/400m)</listEntry>
            <listEntry value="329">5:29 (2:11/400m)</listEntry>
            <listEntry value="330">5:30 (2:12/400m)</listEntry>
            <listEntry value="331">5:31 (2:12/400m)</listEntry>
            <listEntry value="332">5:32 (2:12/400m)</listEntry>
            <listEntry value="333">5:33 (2:13/400m)</listEntry>
            <listEntry value="334">5:34 (2:13/400m)</listEntry>
            <listEntry value="335">5:35 (2:14/400m)</listEntry>
            <listEntry value="336">5:36 (2:14/400m)</listEntry>
            <listEntry value="337">5:37 (2:14/400m)</listEntry>
            <listEntry value="338">5:38 (2:15/400m)</listEntry>
            <listEntry value="339">5:39 (2:15/400m)</listEntry>
            <listEntry value="340">5:40 (2:16/400m)</listEntry>
            <listEntry value="341">5:41 (2:16/400m)</listEntry>
            <listEntry value="342">5:42 (2:16/400m)</listEntry>
            <listEntry value="343">5:43 (2:17/400m)</listEntry>
            <listEntry value="344">5:44 (2:17/400m)</listEntry>
            <listEntry value="345">5:45 (2:18/400m)</listEntry>
            <listEntry value="346">5:46 (2:18/400m)</listEntry>
            <listEntry value="347">5:47 (2:18/400m)</listEntry>
            <listEntry value="348">5:48 (2:19/400m)</listEntry>
            <listEntry value="349">5:49 (2:19/400m)</listEntry>
            <listEntry value="350">5:50 (2:20/400m)</listEntry>
            <listEntry value="351">5:51 (2:20/400m)</listEntry>
            <listEntry value="352">5:52 (2:20/400m)</listEntry>
            <listEntry value="353">5:53 (2:21/400m)</listEntry>
            <listEntry value="354">5:54 (2:21/400m)</listEntry>
            <listEntry value="355">5:55 (2:22/400m)</listEntry>
            <listEntry value="356">5:56 (2:22/400m)</listEntry>
            <listEntry value="357">5:57 (2:22/400m)</listEntry>
            <listEntry value="358">5:58 (2:23/400m)</listEntry>
            <listEntry value="359">5:59 (2:23/400m)</listEntry>
            <listEntry value="360">6:00 (2:24/400m)</listEntry>
            <listEntry value="361">6:01 (2:24/400m)</listEntry>
            <listEntry value="362">6:02 (2:24/400m)</listEntry>
            <listEntry value="363">6:03 (2:25/400m)</listEntry>
            <listEntry value="364">6:04 (2:25/400m)</listEntry>
            <listEntry value="365">6:05 (2:26/400m)</listEntry>
            <listEntry value="366">6:06 (2:26/400m)</listEntry>
            <listEntry value="367">6:07 (2:26/400m)</listEntry>
            <listEntry value="368">6:08 (2:27/400m)</listEntry>
            <listEntry value="369">6:09 (2:27/400m)</listEntry>
            <listEntry value="370">6:10 (2:28/400m)</listEntry>
            <listEntry value="371">6:11 (2:28/400m)</listEntry>
            <listEntry value="372">6:12 (2:28/400m)</listEntry>
            <listEntry value="373">6:13 (2:29/400m)</listEntry>
            <listEntry value="374">6:14 (2:29/400m)</listEntry>
            <listEntry value="375">6:15 (2:30/400m)</listEntry>
            <listEntry value="376">6:16 (2:30/400m)</listEntry>
            <listEntry value="377">6:17 (2:30/400m)</listEntry>
            <listEntry value="378">6:18 (2:31/400m)</listEntry>
            <listEntry value="379">6:19 (2:31/400m)</listEntry>
            <listEntry value="380">6:20 (2:32/400m)</listEntry>
            <listEntry value="381">6:21 (2:32/400m)</listEntry>
            <listEntry value="382">6:22 (2:32/400m)</listEntry>
            <listEntry value="383">6:23 (2:33/400m)</listEntry>
            <listEntry value="384">6:24 (2:33/400m)</listEntry>
            <listEntry value="385">6:25 (2:34/400m)</listEntry>
            <listEntry value="386">6:26 (2:34/400m)</listEntry>
            <listEntry value="387">6:27 (2:34/400m)</listEntry>
            <listEntry value="388">6:28 (2:35/400m)</listEntry>
            <listEntry value="389">6:29 (2:35/400m)</listEntry>
            <listEntry value="390">6:30 (2:36/400m)</listEntry>
            <listEntry value="391">6:31 (2:36/400m)</listEntry>
            <listEntry value="392">6:32 (2:36/400m)</listEntry>
            <listEntry value="393">6:33 (2:37/400m)</listEntry>
            <listEntry value="394">6:34 (2:37/400m)</listEntry>
            <listEntry value="395">6:35 (2:38/400m)</listEntry>
            <listEntry value="396">6:36 (2:38/400m)</listEntry>
            <listEntry value="397">6:37 (2:38/400m)</listEntry>
            <listEntry value="398">6:38 (2:39/400m)</listEntry>
            <listEntry value="399">6:39 (2:39/400m)</listEntry>
            <listEntry value="400">6:40 (2:40/400m)</listEntry>
            <listEntry value="401">6:41 (2:40/400m)</listEntry>
            <listEntry value="402">6:42 (2:40/400m)</listEntry>
            <listEntry value="403">6:43 (2:41/400m)</listEntry>
            <listEntry value="404">6:44 (2:41/400m)</listEntry>
            <listEntry value="405">6:45 (2:42/400m)</listEntry>
            <listEntry value="406">6:46 (2:42/400m)</listEntry>
            <listEntry value="407">6:47 (2:42/400m)</listEntry>
            <listEntry value="408">6:48 (2:43/400m)</listEntry>
            <listEntry value="409">6:49 (2:43/400m)</listEntry>
            <listEntry value="410">6:50 (2:44/400m)</listEntry>
            <listEntry value="411">6:51 (2:44/400m)</listEntry>
            <listEntry value="412">6:52 (2:44/400m)</listEntry>
            <listEntry value="413">6:53 (2:45/400m)</listEntry>
            <listEntry value="414">6:54 (2:45/400m)</listEntry>
            <listEntry value="415">6:55 (2:46/400m)</listEntry>
            <listEntry value="416">6:56 (2:46/400m)</listEntry>
            <listEntry value="417">6:57 (2:46/400m)</listEntry>
            <listEntry value="418">6:58 (2:47/400m)</listEntry>
            <listEntry value="419">6:59 (2:47/400m)</listEntry>
            <listEntry value="420">7:00 (2:48/400m)</listEntry>
            <listEntry value="421">7:01 (2:48/400m)</listEntry>
            <listEntry value="422">7:02 (2:48/400m)</listEntry>
            <listEntry value="423">7:03 (2:49/400m)</listEntry>
            <listEntry value="424">7:04 (2:49/400m)</listEntry>
            <listEntry value="425">7:05 (2:50/400m)</listEntry>
            <listEntry value="426">7:06 (2:50/400m)</listEntry>
            <listEntry value="427">7:07 (2:50/400m)</listEntry>
            <listEntry value="428">7:08 (2:51/400m)</listEntry>
            <listEntry value="429">7:09 (2:51/400m)</listEntry>
            <listEntry value="430">7:10 (2:52/400m)</listEntry>
            <listEntry value="431">7:11 (2:52/400m)</listEntry>
            <listEntry value="432">7:12 (2:52/400m)</listEntry>
            <listEntry value="433">7:13 (2:53/400m)</listEntry>
            <listEntry value="434">7:14 (2:53/400m)</listEntry>
            <listEntry value="435">7:15 (2:54/400m)</listEntry>
            <listEntry value="436">7:16 (2:54/400m)</listEntry>
            <listEntry value="437">7:17 (2:54/400m)</listEntry>
            <listEntry value="438">7:18 (2:55/400m)</listEntry>
            <listEntry value="439">7:19 (2:55/400m)</listEntry>
            <listEntry value="440">7:20 (2:56/400m)</listEntry>
            <listEntry value="441">7:21 (2:56/400m)</listEntry>
            <listEntry value="442">7:22 (2:56/400m)</listEntry>
            <listEntry value="443">7:23 (2:57/400m)</listEntry>
            <listEntry value="444">7:24 (2:57/400m)</listEntry>
            <listEntry value="445">7:25 (2:58/400m)</listEntry>
            <listEntry value="446">7:26 (2:58/400m)</listEntry>
            <listEntry value="447">7:27 (2:58/400m)</listEntry>
            <listEntry value="448">7:28 (2:59/400m)</listEntry>
            <listEntry value="449">7:29 (2:59/400m)</listEntry>
            <listEntry value="450">7:30 (3:00/400m)</listEntry>
            <listEntry value="451">7:31 (3:00/400m)</listEntry>
            <listEntry value="452">7:32 (3:00/400m)</listEntry>
            <listEntry value="453">7:33 (3:01/400m)</listEntry>
            <listEntry value="454">7:34 (3:01/400m)</listEntry>
            <listEntry value="455">7:35 (3:02/400m)</listEntry>
            <listEntry value="456">7:36 (3:02/400m)</listEntry>
            <listEntry value="457">7:37 (3:02/400m)</listEntry>
            <listEntry value="458">7:38 (3:03/400m)</listEntry>
            <listEntry value="459">7:39 (3:03/400m)</listEntry>
            <listEntry value="460">7:40 (3:04/400m)</listEntry>
            <listEntry value="461">7:41 (3:04/400m)</listEntry>
            <listEntry value="462">7:42 (3:04/400m)</listEntry>
            <listEntry value="463">7:43 (3:05/400m)</listEntry>
            <listEntry value="464">7:44 (3:05/400m)</listEntry>
            <listEntry value="465">7:45 (3:06/400m)</listEntry>
            <listEntry value="466">7:46 (3:06/400m)</listEntry>
            <listEntry value="467">7:47 (3:06/400m)</listEntry>
            <listEntry value="468">7:48 (3:07/400m)</listEntry>
            <listEntry value="469">7:49 (3:07/400m)</listEntry>
            <listEntry value="470">7:50 (3:08/400m)</listEntry>
            <listEntry value="471">7:51 (3:08/400m)</listEntry>
            <listEntry value="472">7:52 (3:08/400m)</listEntry>
            <listEntry value="473">7:53 (3:09/400m)</listEntry>
            <listEntry value="474">7:54 (3:09/400m)</listEntry>
            <listEntry value="475">7:55 (3:10/400m)</listEntry>
            <listEntry value="476">7:56 (3:10/400m)</listEntry>
            <listEntry value="477">7:57 (3:10/400m)</listEntry>
            <listEntry value="478">7:58 (3:11/400m)</listEntry>
            <listEntry value="479">7:59 (3:11/400m)</listEntry>
            <listEntry value="480">8:00 (3:12/400m)</listEntry>
            <listEntry value="481">8:01 (3:12/400m)</listEntry>
            <listEntry value="482">8:02 (3:12/400m)</listEntry>
            <listEntry value="483">8:03 (3:13/400m)</listEntry>
            <listEntry value="484">8:04 (3:13/400m)</listEntry>
            <listEntry value="485">8:05 (3:14/400m)</listEntry>
            <listEntry value="486">8:06 (3:14/400m)</listEntry>
            <listEntry value="487">8:07 (3:14/400m)</listEntry>
            <listEntry value="488">8:08 (3:15/400m)</listEntry>
            <listEntry value="489">8:09 (3:15/400m)</listEntry>
            <listEntry value="490">8:10 (3:16/400m)</listEntry>
            <listEntry value="491">8:11 (3:16/400m)</listEntry>
            <listEntry value="492">8:12 (3:16/400m)</listEntry>
            <listEntry value="493">8:13 (3:17/400m)</listEntry>
            <listEntry value="494">8:14 (3:17/400m)</listEntry>
            <listEntry value="495">8:15 (3:18/400m)</listEntry>
            <listEntry value="496">8:16 (3:18/400m)</listEntry>
            <listEntry value="497">8:17 (3:18/400m)</listEntry>
            <listEntry value="498">8:18 (3:19/400m)</listEntry>
            <listEntry value="499">8:19 (3:19/400m)</listEntry>
            <listEntry value="500">8:20 (3:20/400m)</listEntry>
            <listEntry value="501">8:21 (3:20/400m)</listEntry>
            <listEntry value="502">8:22 (3:20/400m)</listEntry>
            <listEntry value="503">8:23 (3:21/400m)</listEntry>
            <listEntry value="504">8:24 (3:21/400m)</listEntry>
            <listEntry value="505">8:25 (3:22/400m)</listEntry>
            <listEntry value="506">8:26 (3:22/400m)</listEntry>
            <listEntry value="507">8:27 (3:22/400m)</listEntry>
            <listEntry value="508">8:28 (3:23/400m)</listEntry>
            <listEntry value="509">8:29 (3:23/400m)</listEntry>
            <listEntry value="510">8:30 (3:24/400m)</listEntry>
            <listEntry value="511">8:31 (3:24/400m)</listEntry>
            <listEntry value="512">8:32 (3:24/400m)</listEntry>
            <listEntry value="513">8:33 (3:25/400m)</listEntry>
            <listEntry value="514">8:34 (3:25/400m)</listEntry>
            <listEntry value="515">8:35 (3:26/400m)</listEntry>
            <listEntry value="516">8:36 (3:26/400m)</listEntry>
            <listEntry value="517">8:37 (3:26/400m)</listEntry>
            <listEntry value="518">8:38 (3:27/400m)</listEntry>
            <listEntry value="519">8:39 (3:27/400m)</listEntry>
            <listEntry value="520">8:40 (3:28/400m)</listEntry>
            <listEntry value="521">8:41 (3:28/400m)</listEntry>
            <listEntry value="522">8:42 (3:28/400m)</listEntry>
            <listEntry value="523">8:43 (3:29/400m)</listEntry>
            <listEntry value="524">8:44 (3:29/400m)</listEntry>
            <listEntry value="525">8:45 (3:30/400m)</listEntry>
            <listEntry value="526">8:46 (3:30/400m)</listEntry>
            <listEntry value="527">8:47 (3:30/400m)</listEntry>
            <listEntry value="528">8:48 (3:31/400m)</listEntry>
            <listEntry value="529">8:49 (3:31/400m)</listEntry>
            <listEntry value="530">8:50 (3:32/400m)</listEntry>
            <listEntry value="531">8:51 (3:32/400m)</listEntry>
            <listEntry value="532">8:52 (3:32/400m)</listEntry>
            <listEntry value="533">8:53 (3:33/400m)</listEntry>
            <listEntry value="534">8:54 (3:33/400m)</listEntry>
            <listEntry value="535">8:55 (3:34/400m)</listEntry>
            <listEntry value="536">8:56 (3:34/400m)</listEntry>
            <listEntry value="537">8:57 (3:34/400m)</listEntry>
            <listEntry value="538">8:58 (3:35/400m)</listEntry>
            <listEntry value="539">8:59 (3:35/400m)</listEntry>
        </settingConfig>
    </setting>

</settings>