<settings>

    <!-- Split distance -->
    <setting propertyKey="@Properties.split" title='Split distance' prompt='Split distance for the lap where you want the watch to buzz'>
        <settingConfig type="list">
            <listEntry value="50">50m</listEntry>
            <listEntry value="100">100m</listEntry>
            <listEntry value="150">150m</listEntry>
            <listEntry value="200">200m</listEntry>
            <listEntry value="250">250m</listEntry>
            <listEntry value="300">300m</listEntry>
            <listEntry value="350">350m</listEntry>
            <listEntry value="400">400m</listEntry>
            <listEntry value="450">450m</listEntry>
            <listEntry value="500">500m</listEntry>
            <listEntry value="550">550m</listEntry>
            <listEntry value="600">600m</listEntry>
            <listEntry value="650">650m</listEntry>
            <listEntry value="700">700m</listEntry>
            <listEntry value="750">750m</listEntry>
            <listEntry value="800">800m</listEntry>
            <listEntry value="850">850m</listEntry>
            <listEntry value="900">900m</listEntry>
            <listEntry value="950">950m</listEntry>
            <listEntry value="1000">1000m</listEntry>
        </settingConfig>
    </setting>

     <!-- Pace -->
    <setting propertyKey="@Properties.pace" title='Pace (in km)' prompt='The pace you want the watch to follow'>
        <settingConfig type="list">
            <listEntry value="107">1:47/km - 2:52/mile - 0:43/400m</listEntry>
            <listEntry value="108">1:48/km - 2:53/mile - 0:43/400m</listEntry>
            <listEntry value="109">1:49/km - 2:55/mile - 0:43/400m</listEntry>
            <listEntry value="110">1:50/km - 2:57/mile - 0:44/400m</listEntry>
            <listEntry value="111">1:51/km - 2:58/mile - 0:44/400m</listEntry>
            <listEntry value="112">1:52/km - 3:00/mile - 0:44/400m</listEntry>
            <listEntry value="113">1:53/km - 3:01/mile - 0:45/400m</listEntry>
            <listEntry value="114">1:54/km - 3:03/mile - 0:45/400m</listEntry>
            <listEntry value="115">1:55/km - 3:05/mile - 0:46/400m</listEntry>
            <listEntry value="116">1:56/km - 3:06/mile - 0:46/400m</listEntry>
            <listEntry value="117">1:57/km - 3:08/mile - 0:46/400m</listEntry>
            <listEntry value="118">1:58/km - 3:09/mile - 0:47/400m</listEntry>
            <listEntry value="119">1:59/km - 3:11/mile - 0:47/400m</listEntry>
            <listEntry value="120">2:00/km - 3:13/mile - 0:48/400m</listEntry>
            <listEntry value="121">2:01/km - 3:14/mile - 0:48/400m</listEntry>
            <listEntry value="122">2:02/km - 3:16/mile - 0:48/400m</listEntry>
            <listEntry value="123">2:03/km - 3:17/mile - 0:49/400m</listEntry>
            <listEntry value="124">2:04/km - 3:19/mile - 0:49/400m</listEntry>
            <listEntry value="125">2:05/km - 3:21/mile - 0:50/400m</listEntry>
            <listEntry value="126">2:06/km - 3:22/mile - 0:50/400m</listEntry>
            <listEntry value="127">2:07/km - 3:24/mile - 0:50/400m</listEntry>
            <listEntry value="128">2:08/km - 3:26/mile - 0:51/400m</listEntry>
            <listEntry value="129">2:09/km - 3:27/mile - 0:51/400m</listEntry>
            <listEntry value="130">2:10/km - 3:29/mile - 0:52/400m</listEntry>
            <listEntry value="131">2:11/km - 3:30/mile - 0:52/400m</listEntry>
            <listEntry value="132">2:12/km - 3:32/mile - 0:52/400m</listEntry>
            <listEntry value="133">2:13/km - 3:34/mile - 0:53/400m</listEntry>
            <listEntry value="134">2:14/km - 3:35/mile - 0:53/400m</listEntry>
            <listEntry value="135">2:15/km - 3:37/mile - 0:54/400m</listEntry>
            <listEntry value="136">2:16/km - 3:38/mile - 0:54/400m</listEntry>
            <listEntry value="137">2:17/km - 3:40/mile - 0:54/400m</listEntry>
            <listEntry value="138">2:18/km - 3:42/mile - 0:55/400m</listEntry>
            <listEntry value="139">2:19/km - 3:43/mile - 0:55/400m</listEntry>
            <listEntry value="140">2:20/km - 3:45/mile - 0:56/400m</listEntry>
            <listEntry value="141">2:21/km - 3:46/mile - 0:56/400m</listEntry>
            <listEntry value="142">2:22/km - 3:48/mile - 0:56/400m</listEntry>
            <listEntry value="143">2:23/km - 3:50/mile - 0:57/400m</listEntry>
            <listEntry value="144">2:24/km - 3:51/mile - 0:57/400m</listEntry>
            <listEntry value="145">2:25/km - 3:53/mile - 0:58/400m</listEntry>
            <listEntry value="146">2:26/km - 3:54/mile - 0:58/400m</listEntry>
            <listEntry value="147">2:27/km - 3:56/mile - 0:58/400m</listEntry>
            <listEntry value="148">2:28/km - 3:58/mile - 0:59/400m</listEntry>
            <listEntry value="149">2:29/km - 3:59/mile - 0:59/400m</listEntry>
            <listEntry value="150">2:30/km - 4:01/mile - 1:00/400m</listEntry>
            <listEntry value="151">2:31/km - 4:03/mile - 1:00/400m</listEntry>
            <listEntry value="152">2:32/km - 4:04/mile - 1:00/400m</listEntry>
            <listEntry value="153">2:33/km - 4:06/mile - 1:01/400m</listEntry>
            <listEntry value="154">2:34/km - 4:07/mile - 1:01/400m</listEntry>
            <listEntry value="155">2:35/km - 4:09/mile - 1:02/400m</listEntry>
            <listEntry value="156">2:36/km - 4:11/mile - 1:02/400m</listEntry>
            <listEntry value="157">2:37/km - 4:12/mile - 1:02/400m</listEntry>
            <listEntry value="158">2:38/km - 4:14/mile - 1:03/400m</listEntry>
            <listEntry value="159">2:39/km - 4:15/mile - 1:03/400m</listEntry>
            <listEntry value="160">2:40/km - 4:17/mile - 1:04/400m</listEntry>
            <listEntry value="161">2:41/km - 4:19/mile - 1:04/400m</listEntry>
            <listEntry value="162">2:42/km - 4:20/mile - 1:04/400m</listEntry>
            <listEntry value="163">2:43/km - 4:22/mile - 1:05/400m</listEntry>
            <listEntry value="164">2:44/km - 4:23/mile - 1:05/400m</listEntry>
            <listEntry value="165">2:45/km - 4:25/mile - 1:06/400m</listEntry>
            <listEntry value="166">2:46/km - 4:27/mile - 1:06/400m</listEntry>
            <listEntry value="167">2:47/km - 4:28/mile - 1:06/400m</listEntry>
            <listEntry value="168">2:48/km - 4:30/mile - 1:07/400m</listEntry>
            <listEntry value="169">2:49/km - 4:31/mile - 1:07/400m</listEntry>
            <listEntry value="170">2:50/km - 4:33/mile - 1:08/400m</listEntry>
            <listEntry value="171">2:51/km - 4:35/mile - 1:08/400m</listEntry>
            <listEntry value="172">2:52/km - 4:36/mile - 1:08/400m</listEntry>
            <listEntry value="173">2:53/km - 4:38/mile - 1:09/400m</listEntry>
            <listEntry value="174">2:54/km - 4:40/mile - 1:09/400m</listEntry>
            <listEntry value="175">2:55/km - 4:41/mile - 1:10/400m</listEntry>
            <listEntry value="176">2:56/km - 4:43/mile - 1:10/400m</listEntry>
            <listEntry value="177">2:57/km - 4:44/mile - 1:10/400m</listEntry>
            <listEntry value="178">2:58/km - 4:46/mile - 1:11/400m</listEntry>
            <listEntry value="179">2:59/km - 4:48/mile - 1:11/400m</listEntry>
            <listEntry value="180">3:00/km - 4:49/mile - 1:12/400m</listEntry>
            <listEntry value="181">3:01/km - 4:51/mile - 1:12/400m</listEntry>
            <listEntry value="182">3:02/km - 4:52/mile - 1:12/400m</listEntry>
            <listEntry value="183">3:03/km - 4:54/mile - 1:13/400m</listEntry>
            <listEntry value="184">3:04/km - 4:56/mile - 1:13/400m</listEntry>
            <listEntry value="185">3:05/km - 4:57/mile - 1:14/400m</listEntry>
            <listEntry value="186">3:06/km - 4:59/mile - 1:14/400m</listEntry>
            <listEntry value="187">3:07/km - 5:00/mile - 1:14/400m</listEntry>
            <listEntry value="188">3:08/km - 5:02/mile - 1:15/400m</listEntry>
            <listEntry value="189">3:09/km - 5:04/mile - 1:15/400m</listEntry>
            <listEntry value="190">3:10/km - 5:05/mile - 1:16/400m</listEntry>
            <listEntry value="191">3:11/km - 5:07/mile - 1:16/400m</listEntry>
            <listEntry value="192">3:12/km - 5:09/mile - 1:16/400m</listEntry>
            <listEntry value="193">3:13/km - 5:10/mile - 1:17/400m</listEntry>
            <listEntry value="194">3:14/km - 5:12/mile - 1:17/400m</listEntry>
            <listEntry value="195">3:15/km - 5:13/mile - 1:18/400m</listEntry>
            <listEntry value="196">3:16/km - 5:15/mile - 1:18/400m</listEntry>
            <listEntry value="197">3:17/km - 5:17/mile - 1:18/400m</listEntry>
            <listEntry value="198">3:18/km - 5:18/mile - 1:19/400m</listEntry>
            <listEntry value="199">3:19/km - 5:20/mile - 1:19/400m</listEntry>
            <listEntry value="200">3:20/km - 5:21/mile - 1:20/400m</listEntry>
            <listEntry value="201">3:21/km - 5:23/mile - 1:20/400m</listEntry>
            <listEntry value="202">3:22/km - 5:25/mile - 1:20/400m</listEntry>
            <listEntry value="203">3:23/km - 5:26/mile - 1:21/400m</listEntry>
            <listEntry value="204">3:24/km - 5:28/mile - 1:21/400m</listEntry>
            <listEntry value="205">3:25/km - 5:29/mile - 1:22/400m</listEntry>
            <listEntry value="206">3:26/km - 5:31/mile - 1:22/400m</listEntry>
            <listEntry value="207">3:27/km - 5:33/mile - 1:22/400m</listEntry>
            <listEntry value="208">3:28/km - 5:34/mile - 1:23/400m</listEntry>
            <listEntry value="209">3:29/km - 5:36/mile - 1:23/400m</listEntry>
            <listEntry value="210">3:30/km - 5:37/mile - 1:24/400m</listEntry>
            <listEntry value="211">3:31/km - 5:39/mile - 1:24/400m</listEntry>
            <listEntry value="212">3:32/km - 5:41/mile - 1:24/400m</listEntry>
            <listEntry value="213">3:33/km - 5:42/mile - 1:25/400m</listEntry>
            <listEntry value="214">3:34/km - 5:44/mile - 1:25/400m</listEntry>
            <listEntry value="215">3:35/km - 5:46/mile - 1:26/400m</listEntry>
            <listEntry value="216">3:36/km - 5:47/mile - 1:26/400m</listEntry>
            <listEntry value="217">3:37/km - 5:49/mile - 1:26/400m</listEntry>
            <listEntry value="218">3:38/km - 5:50/mile - 1:27/400m</listEntry>
            <listEntry value="219">3:39/km - 5:52/mile - 1:27/400m</listEntry>
            <listEntry value="220">3:40/km - 5:54/mile - 1:28/400m</listEntry>
            <listEntry value="221">3:41/km - 5:55/mile - 1:28/400m</listEntry>
            <listEntry value="222">3:42/km - 5:57/mile - 1:28/400m</listEntry>
            <listEntry value="223">3:43/km - 5:58/mile - 1:29/400m</listEntry>
            <listEntry value="224">3:44/km - 6:00/mile - 1:29/400m</listEntry>
            <listEntry value="225">3:45/km - 6:02/mile - 1:30/400m</listEntry>
            <listEntry value="226">3:46/km - 6:03/mile - 1:30/400m</listEntry>
            <listEntry value="227">3:47/km - 6:05/mile - 1:30/400m</listEntry>
            <listEntry value="228">3:48/km - 6:06/mile - 1:31/400m</listEntry>
            <listEntry value="229">3:49/km - 6:08/mile - 1:31/400m</listEntry>
            <listEntry value="230">3:50/km - 6:10/mile - 1:32/400m</listEntry>
            <listEntry value="231">3:51/km - 6:11/mile - 1:32/400m</listEntry>
            <listEntry value="232">3:52/km - 6:13/mile - 1:32/400m</listEntry>
            <listEntry value="233">3:53/km - 6:14/mile - 1:33/400m</listEntry>
            <listEntry value="234">3:54/km - 6:16/mile - 1:33/400m</listEntry>
            <listEntry value="235">3:55/km - 6:18/mile - 1:34/400m</listEntry>
            <listEntry value="236">3:56/km - 6:19/mile - 1:34/400m</listEntry>
            <listEntry value="237">3:57/km - 6:21/mile - 1:34/400m</listEntry>
            <listEntry value="238">3:58/km - 6:23/mile - 1:35/400m</listEntry>
            <listEntry value="239">3:59/km - 6:24/mile - 1:35/400m</listEntry>
            <listEntry value="240">4:00/km - 6:26/mile - 1:36/400m</listEntry>
            <listEntry value="241">4:01/km - 6:27/mile - 1:36/400m</listEntry>
            <listEntry value="242">4:02/km - 6:29/mile - 1:36/400m</listEntry>
            <listEntry value="243">4:03/km - 6:31/mile - 1:37/400m</listEntry>
            <listEntry value="244">4:04/km - 6:32/mile - 1:37/400m</listEntry>
            <listEntry value="245">4:05/km - 6:34/mile - 1:38/400m</listEntry>
            <listEntry value="246">4:06/km - 6:35/mile - 1:38/400m</listEntry>
            <listEntry value="247">4:07/km - 6:37/mile - 1:38/400m</listEntry>
            <listEntry value="248">4:08/km - 6:39/mile - 1:39/400m</listEntry>
            <listEntry value="249">4:09/km - 6:40/mile - 1:39/400m</listEntry>
            <listEntry value="250">4:10/km - 6:42/mile - 1:40/400m</listEntry>
            <listEntry value="251">4:11/km - 6:43/mile - 1:40/400m</listEntry>
            <listEntry value="252">4:12/km - 6:45/mile - 1:40/400m</listEntry>
            <listEntry value="253">4:13/km - 6:47/mile - 1:41/400m</listEntry>
            <listEntry value="254">4:14/km - 6:48/mile - 1:41/400m</listEntry>
            <listEntry value="255">4:15/km - 6:50/mile - 1:42/400m</listEntry>
            <listEntry value="256">4:16/km - 6:52/mile - 1:42/400m</listEntry>
            <listEntry value="257">4:17/km - 6:53/mile - 1:42/400m</listEntry>
            <listEntry value="258">4:18/km - 6:55/mile - 1:43/400m</listEntry>
            <listEntry value="259">4:19/km - 6:56/mile - 1:43/400m</listEntry>
            <listEntry value="260">4:20/km - 6:58/mile - 1:44/400m</listEntry>
            <listEntry value="261">4:21/km - 7:00/mile - 1:44/400m</listEntry>
            <listEntry value="262">4:22/km - 7:01/mile - 1:44/400m</listEntry>
            <listEntry value="263">4:23/km - 7:03/mile - 1:45/400m</listEntry>
            <listEntry value="264">4:24/km - 7:04/mile - 1:45/400m</listEntry>
            <listEntry value="265">4:25/km - 7:06/mile - 1:46/400m</listEntry>
            <listEntry value="266">4:26/km - 7:08/mile - 1:46/400m</listEntry>
            <listEntry value="267">4:27/km - 7:09/mile - 1:46/400m</listEntry>
            <listEntry value="268">4:28/km - 7:11/mile - 1:47/400m</listEntry>
            <listEntry value="269">4:29/km - 7:12/mile - 1:47/400m</listEntry>
            <listEntry value="270">4:30/km - 7:14/mile - 1:48/400m</listEntry>
            <listEntry value="271">4:31/km - 7:16/mile - 1:48/400m</listEntry>
            <listEntry value="272">4:32/km - 7:17/mile - 1:48/400m</listEntry>
            <listEntry value="273">4:33/km - 7:19/mile - 1:49/400m</listEntry>
            <listEntry value="274">4:34/km - 7:20/mile - 1:49/400m</listEntry>
            <listEntry value="275">4:35/km - 7:22/mile - 1:50/400m</listEntry>
            <listEntry value="276">4:36/km - 7:24/mile - 1:50/400m</listEntry>
            <listEntry value="277">4:37/km - 7:25/mile - 1:50/400m</listEntry>
            <listEntry value="278">4:38/km - 7:27/mile - 1:51/400m</listEntry>
            <listEntry value="279">4:39/km - 7:29/mile - 1:51/400m</listEntry>
            <listEntry value="280">4:40/km - 7:30/mile - 1:52/400m</listEntry>
            <listEntry value="281">4:41/km - 7:32/mile - 1:52/400m</listEntry>
            <listEntry value="282">4:42/km - 7:33/mile - 1:52/400m</listEntry>
            <listEntry value="283">4:43/km - 7:35/mile - 1:53/400m</listEntry>
            <listEntry value="284">4:44/km - 7:37/mile - 1:53/400m</listEntry>
            <listEntry value="285">4:45/km - 7:38/mile - 1:54/400m</listEntry>
            <listEntry value="286">4:46/km - 7:40/mile - 1:54/400m</listEntry>
            <listEntry value="287">4:47/km - 7:41/mile - 1:54/400m</listEntry>
            <listEntry value="288">4:48/km - 7:43/mile - 1:55/400m</listEntry>
            <listEntry value="289">4:49/km - 7:45/mile - 1:55/400m</listEntry>
            <listEntry value="290">4:50/km - 7:46/mile - 1:56/400m</listEntry>
            <listEntry value="291">4:51/km - 7:48/mile - 1:56/400m</listEntry>
            <listEntry value="292">4:52/km - 7:49/mile - 1:56/400m</listEntry>
            <listEntry value="293">4:53/km - 7:51/mile - 1:57/400m</listEntry>
            <listEntry value="294">4:54/km - 7:53/mile - 1:57/400m</listEntry>
            <listEntry value="295">4:55/km - 7:54/mile - 1:58/400m</listEntry>
            <listEntry value="296">4:56/km - 7:56/mile - 1:58/400m</listEntry>
            <listEntry value="297">4:57/km - 7:57/mile - 1:58/400m</listEntry>
            <listEntry value="298">4:58/km - 7:59/mile - 1:59/400m</listEntry>
            <listEntry value="299">4:59/km - 8:01/mile - 1:59/400m</listEntry>
            <listEntry value="300">5:00/km - 8:02/mile - 2:00/400m</listEntry>
            <listEntry value="301">5:01/km - 8:04/mile - 2:00/400m</listEntry>
            <listEntry value="302">5:02/km - 8:06/mile - 2:00/400m</listEntry>
            <listEntry value="303">5:03/km - 8:07/mile - 2:01/400m</listEntry>
            <listEntry value="304">5:04/km - 8:09/mile - 2:01/400m</listEntry>
            <listEntry value="305">5:05/km - 8:10/mile - 2:02/400m</listEntry>
            <listEntry value="306">5:06/km - 8:12/mile - 2:02/400m</listEntry>
            <listEntry value="307">5:07/km - 8:14/mile - 2:02/400m</listEntry>
            <listEntry value="308">5:08/km - 8:15/mile - 2:03/400m</listEntry>
            <listEntry value="309">5:09/km - 8:17/mile - 2:03/400m</listEntry>
            <listEntry value="310">5:10/km - 8:18/mile - 2:04/400m</listEntry>
            <listEntry value="311">5:11/km - 8:20/mile - 2:04/400m</listEntry>
            <listEntry value="312">5:12/km - 8:22/mile - 2:04/400m</listEntry>
            <listEntry value="313">5:13/km - 8:23/mile - 2:05/400m</listEntry>
            <listEntry value="314">5:14/km - 8:25/mile - 2:05/400m</listEntry>
            <listEntry value="315">5:15/km - 8:26/mile - 2:06/400m</listEntry>
            <listEntry value="316">5:16/km - 8:28/mile - 2:06/400m</listEntry>
            <listEntry value="317">5:17/km - 8:30/mile - 2:06/400m</listEntry>
            <listEntry value="318">5:18/km - 8:31/mile - 2:07/400m</listEntry>
            <listEntry value="319">5:19/km - 8:33/mile - 2:07/400m</listEntry>
            <listEntry value="320">5:20/km - 8:34/mile - 2:08/400m</listEntry>
            <listEntry value="321">5:21/km - 8:36/mile - 2:08/400m</listEntry>
            <listEntry value="322">5:22/km - 8:38/mile - 2:08/400m</listEntry>
            <listEntry value="323">5:23/km - 8:39/mile - 2:09/400m</listEntry>
            <listEntry value="324">5:24/km - 8:41/mile - 2:09/400m</listEntry>
            <listEntry value="325">5:25/km - 8:43/mile - 2:10/400m</listEntry>
            <listEntry value="326">5:26/km - 8:44/mile - 2:10/400m</listEntry>
            <listEntry value="327">5:27/km - 8:46/mile - 2:10/400m</listEntry>
            <listEntry value="328">5:28/km - 8:47/mile - 2:11/400m</listEntry>
            <listEntry value="329">5:29/km - 8:49/mile - 2:11/400m</listEntry>
            <listEntry value="330">5:30/km - 8:51/mile - 2:12/400m</listEntry>
            <listEntry value="331">5:31/km - 8:52/mile - 2:12/400m</listEntry>
            <listEntry value="332">5:32/km - 8:54/mile - 2:12/400m</listEntry>
            <listEntry value="333">5:33/km - 8:55/mile - 2:13/400m</listEntry>
            <listEntry value="334">5:34/km - 8:57/mile - 2:13/400m</listEntry>
            <listEntry value="335">5:35/km - 8:59/mile - 2:14/400m</listEntry>
            <listEntry value="336">5:36/km - 9:00/mile - 2:14/400m</listEntry>
            <listEntry value="337">5:37/km - 9:02/mile - 2:14/400m</listEntry>
            <listEntry value="338">5:38/km - 9:03/mile - 2:15/400m</listEntry>
            <listEntry value="339">5:39/km - 9:05/mile - 2:15/400m</listEntry>
            <listEntry value="340">5:40/km - 9:07/mile - 2:16/400m</listEntry>
            <listEntry value="341">5:41/km - 9:08/mile - 2:16/400m</listEntry>
            <listEntry value="342">5:42/km - 9:10/mile - 2:16/400m</listEntry>
            <listEntry value="343">5:43/km - 9:12/mile - 2:17/400m</listEntry>
            <listEntry value="344">5:44/km - 9:13/mile - 2:17/400m</listEntry>
            <listEntry value="345">5:45/km - 9:15/mile - 2:18/400m</listEntry>
            <listEntry value="346">5:46/km - 9:16/mile - 2:18/400m</listEntry>
            <listEntry value="347">5:47/km - 9:18/mile - 2:18/400m</listEntry>
            <listEntry value="348">5:48/km - 9:20/mile - 2:19/400m</listEntry>
            <listEntry value="349">5:49/km - 9:21/mile - 2:19/400m</listEntry>
            <listEntry value="350">5:50/km - 9:23/mile - 2:20/400m</listEntry>
            <listEntry value="351">5:51/km - 9:24/mile - 2:20/400m</listEntry>
            <listEntry value="352">5:52/km - 9:26/mile - 2:20/400m</listEntry>
            <listEntry value="353">5:53/km - 9:28/mile - 2:21/400m</listEntry>
            <listEntry value="354">5:54/km - 9:29/mile - 2:21/400m</listEntry>
            <listEntry value="355">5:55/km - 9:31/mile - 2:22/400m</listEntry>
            <listEntry value="356">5:56/km - 9:32/mile - 2:22/400m</listEntry>
            <listEntry value="357">5:57/km - 9:34/mile - 2:22/400m</listEntry>
            <listEntry value="358">5:58/km - 9:36/mile - 2:23/400m</listEntry>
            <listEntry value="359">5:59/km - 9:37/mile - 2:23/400m</listEntry>
            <listEntry value="360">6:00/km - 9:39/mile - 2:24/400m</listEntry>
            <listEntry value="361">6:01/km - 9:40/mile - 2:24/400m</listEntry>
            <listEntry value="362">6:02/km - 9:42/mile - 2:24/400m</listEntry>
            <listEntry value="363">6:03/km - 9:44/mile - 2:25/400m</listEntry>
            <listEntry value="364">6:04/km - 9:45/mile - 2:25/400m</listEntry>
            <listEntry value="365">6:05/km - 9:47/mile - 2:26/400m</listEntry>
            <listEntry value="366">6:06/km - 9:49/mile - 2:26/400m</listEntry>
            <listEntry value="367">6:07/km - 9:50/mile - 2:26/400m</listEntry>
            <listEntry value="368">6:08/km - 9:52/mile - 2:27/400m</listEntry>
            <listEntry value="369">6:09/km - 9:53/mile - 2:27/400m</listEntry>
            <listEntry value="370">6:10/km - 9:55/mile - 2:28/400m</listEntry>
            <listEntry value="371">6:11/km - 9:57/mile - 2:28/400m</listEntry>
            <listEntry value="372">6:12/km - 9:58/mile - 2:28/400m</listEntry>
            <listEntry value="373">6:13/km - 10:00/mile - 2:29/400m</listEntry>
            <listEntry value="374">6:14/km - 10:01/mile - 2:29/400m</listEntry>
            <listEntry value="375">6:15/km - 10:03/mile - 2:30/400m</listEntry>
            <listEntry value="376">6:16/km - 10:05/mile - 2:30/400m</listEntry>
            <listEntry value="377">6:17/km - 10:06/mile - 2:30/400m</listEntry>
            <listEntry value="378">6:18/km - 10:08/mile - 2:31/400m</listEntry>
            <listEntry value="379">6:19/km - 10:09/mile - 2:31/400m</listEntry>
            <listEntry value="380">6:20/km - 10:11/mile - 2:32/400m</listEntry>
            <listEntry value="381">6:21/km - 10:13/mile - 2:32/400m</listEntry>
            <listEntry value="382">6:22/km - 10:14/mile - 2:32/400m</listEntry>
            <listEntry value="383">6:23/km - 10:16/mile - 2:33/400m</listEntry>
            <listEntry value="384">6:24/km - 10:17/mile - 2:33/400m</listEntry>
            <listEntry value="385">6:25/km - 10:19/mile - 2:34/400m</listEntry>
            <listEntry value="386">6:26/km - 10:21/mile - 2:34/400m</listEntry>
            <listEntry value="387">6:27/km - 10:22/mile - 2:34/400m</listEntry>
            <listEntry value="388">6:28/km - 10:24/mile - 2:35/400m</listEntry>
            <listEntry value="389">6:29/km - 10:26/mile - 2:35/400m</listEntry>
            <listEntry value="390">6:30/km - 10:27/mile - 2:36/400m</listEntry>
            <listEntry value="391">6:31/km - 10:29/mile - 2:36/400m</listEntry>
            <listEntry value="392">6:32/km - 10:30/mile - 2:36/400m</listEntry>
            <listEntry value="393">6:33/km - 10:32/mile - 2:37/400m</listEntry>
            <listEntry value="394">6:34/km - 10:34/mile - 2:37/400m</listEntry>
            <listEntry value="395">6:35/km - 10:35/mile - 2:38/400m</listEntry>
            <listEntry value="396">6:36/km - 10:37/mile - 2:38/400m</listEntry>
            <listEntry value="397">6:37/km - 10:38/mile - 2:38/400m</listEntry>
            <listEntry value="398">6:38/km - 10:40/mile - 2:39/400m</listEntry>
            <listEntry value="399">6:39/km - 10:42/mile - 2:39/400m</listEntry>
            <listEntry value="400">6:40/km - 10:43/mile - 2:40/400m</listEntry>
            <listEntry value="401">6:41/km - 10:45/mile - 2:40/400m</listEntry>
            <listEntry value="402">6:42/km - 10:46/mile - 2:40/400m</listEntry>
            <listEntry value="403">6:43/km - 10:48/mile - 2:41/400m</listEntry>
            <listEntry value="404">6:44/km - 10:50/mile - 2:41/400m</listEntry>
            <listEntry value="405">6:45/km - 10:51/mile - 2:42/400m</listEntry>
            <listEntry value="406">6:46/km - 10:53/mile - 2:42/400m</listEntry>
            <listEntry value="407">6:47/km - 10:55/mile - 2:42/400m</listEntry>
            <listEntry value="408">6:48/km - 10:56/mile - 2:43/400m</listEntry>
            <listEntry value="409">6:49/km - 10:58/mile - 2:43/400m</listEntry>
            <listEntry value="410">6:50/km - 10:59/mile - 2:44/400m</listEntry>
            <listEntry value="411">6:51/km - 11:01/mile - 2:44/400m</listEntry>
            <listEntry value="412">6:52/km - 11:03/mile - 2:44/400m</listEntry>
            <listEntry value="413">6:53/km - 11:04/mile - 2:45/400m</listEntry>
            <listEntry value="414">6:54/km - 11:06/mile - 2:45/400m</listEntry>
            <listEntry value="415">6:55/km - 11:07/mile - 2:46/400m</listEntry>
            <listEntry value="416">6:56/km - 11:09/mile - 2:46/400m</listEntry>
            <listEntry value="417">6:57/km - 11:11/mile - 2:46/400m</listEntry>
            <listEntry value="418">6:58/km - 11:12/mile - 2:47/400m</listEntry>
            <listEntry value="419">6:59/km - 11:14/mile - 2:47/400m</listEntry>
            <listEntry value="420">7:00/km - 11:15/mile - 2:48/400m</listEntry>
            <listEntry value="421">7:01/km - 11:17/mile - 2:48/400m</listEntry>
            <listEntry value="422">7:02/km - 11:19/mile - 2:48/400m</listEntry>
            <listEntry value="423">7:03/km - 11:20/mile - 2:49/400m</listEntry>
            <listEntry value="424">7:04/km - 11:22/mile - 2:49/400m</listEntry>
            <listEntry value="425">7:05/km - 11:23/mile - 2:50/400m</listEntry>
            <listEntry value="426">7:06/km - 11:25/mile - 2:50/400m</listEntry>
            <listEntry value="427">7:07/km - 11:27/mile - 2:50/400m</listEntry>
            <listEntry value="428">7:08/km - 11:28/mile - 2:51/400m</listEntry>
            <listEntry value="429">7:09/km - 11:30/mile - 2:51/400m</listEntry>
            <listEntry value="430">7:10/km - 11:32/mile - 2:52/400m</listEntry>
            <listEntry value="431">7:11/km - 11:33/mile - 2:52/400m</listEntry>
            <listEntry value="432">7:12/km - 11:35/mile - 2:52/400m</listEntry>
            <listEntry value="433">7:13/km - 11:36/mile - 2:53/400m</listEntry>
            <listEntry value="434">7:14/km - 11:38/mile - 2:53/400m</listEntry>
            <listEntry value="435">7:15/km - 11:40/mile - 2:54/400m</listEntry>
            <listEntry value="436">7:16/km - 11:41/mile - 2:54/400m</listEntry>
            <listEntry value="437">7:17/km - 11:43/mile - 2:54/400m</listEntry>
            <listEntry value="438">7:18/km - 11:44/mile - 2:55/400m</listEntry>
            <listEntry value="439">7:19/km - 11:46/mile - 2:55/400m</listEntry>
            <listEntry value="440">7:20/km - 11:48/mile - 2:56/400m</listEntry>
            <listEntry value="441">7:21/km - 11:49/mile - 2:56/400m</listEntry>
            <listEntry value="442">7:22/km - 11:51/mile - 2:56/400m</listEntry>
            <listEntry value="443">7:23/km - 11:52/mile - 2:57/400m</listEntry>
            <listEntry value="444">7:24/km - 11:54/mile - 2:57/400m</listEntry>
            <listEntry value="445">7:25/km - 11:56/mile - 2:58/400m</listEntry>
            <listEntry value="446">7:26/km - 11:57/mile - 2:58/400m</listEntry>
            <listEntry value="447">7:27/km - 11:59/mile - 2:58/400m</listEntry>
            <listEntry value="448">7:28/km - 12:00/mile - 2:59/400m</listEntry>
            <listEntry value="449">7:29/km - 12:02/mile - 2:59/400m</listEntry>
            <listEntry value="450">7:30/km - 12:04/mile - 3:00/400m</listEntry>
            <listEntry value="451">7:31/km - 12:05/mile - 3:00/400m</listEntry>
            <listEntry value="452">7:32/km - 12:07/mile - 3:00/400m</listEntry>
            <listEntry value="453">7:33/km - 12:09/mile - 3:01/400m</listEntry>
            <listEntry value="454">7:34/km - 12:10/mile - 3:01/400m</listEntry>
            <listEntry value="455">7:35/km - 12:12/mile - 3:02/400m</listEntry>
            <listEntry value="456">7:36/km - 12:13/mile - 3:02/400m</listEntry>
            <listEntry value="457">7:37/km - 12:15/mile - 3:02/400m</listEntry>
            <listEntry value="458">7:38/km - 12:17/mile - 3:03/400m</listEntry>
            <listEntry value="459">7:39/km - 12:18/mile - 3:03/400m</listEntry>
            <listEntry value="460">7:40/km - 12:20/mile - 3:04/400m</listEntry>
            <listEntry value="461">7:41/km - 12:21/mile - 3:04/400m</listEntry>
            <listEntry value="462">7:42/km - 12:23/mile - 3:04/400m</listEntry>
            <listEntry value="463">7:43/km - 12:25/mile - 3:05/400m</listEntry>
            <listEntry value="464">7:44/km - 12:26/mile - 3:05/400m</listEntry>
            <listEntry value="465">7:45/km - 12:28/mile - 3:06/400m</listEntry>
            <listEntry value="466">7:46/km - 12:29/mile - 3:06/400m</listEntry>
            <listEntry value="467">7:47/km - 12:31/mile - 3:06/400m</listEntry>
            <listEntry value="468">7:48/km - 12:33/mile - 3:07/400m</listEntry>
            <listEntry value="469">7:49/km - 12:34/mile - 3:07/400m</listEntry>
            <listEntry value="470">7:50/km - 12:36/mile - 3:08/400m</listEntry>
            <listEntry value="471">7:51/km - 12:38/mile - 3:08/400m</listEntry>
            <listEntry value="472">7:52/km - 12:39/mile - 3:08/400m</listEntry>
            <listEntry value="473">7:53/km - 12:41/mile - 3:09/400m</listEntry>
            <listEntry value="474">7:54/km - 12:42/mile - 3:09/400m</listEntry>
            <listEntry value="475">7:55/km - 12:44/mile - 3:10/400m</listEntry>
            <listEntry value="476">7:56/km - 12:46/mile - 3:10/400m</listEntry>
            <listEntry value="477">7:57/km - 12:47/mile - 3:10/400m</listEntry>
            <listEntry value="478">7:58/km - 12:49/mile - 3:11/400m</listEntry>
            <listEntry value="479">7:59/km - 12:50/mile - 3:11/400m</listEntry>
            <listEntry value="480">8:00/km - 12:52/mile - 3:12/400m</listEntry>
            <listEntry value="481">8:01/km - 12:54/mile - 3:12/400m</listEntry>
            <listEntry value="482">8:02/km - 12:55/mile - 3:12/400m</listEntry>
            <listEntry value="483">8:03/km - 12:57/mile - 3:13/400m</listEntry>
            <listEntry value="484">8:04/km - 12:58/mile - 3:13/400m</listEntry>
            <listEntry value="485">8:05/km - 13:00/mile - 3:14/400m</listEntry>
            <listEntry value="486">8:06/km - 13:02/mile - 3:14/400m</listEntry>
            <listEntry value="487">8:07/km - 13:03/mile - 3:14/400m</listEntry>
            <listEntry value="488">8:08/km - 13:05/mile - 3:15/400m</listEntry>
            <listEntry value="489">8:09/km - 13:06/mile - 3:15/400m</listEntry>
            <listEntry value="490">8:10/km - 13:08/mile - 3:16/400m</listEntry>
            <listEntry value="491">8:11/km - 13:10/mile - 3:16/400m</listEntry>
            <listEntry value="492">8:12/km - 13:11/mile - 3:16/400m</listEntry>
            <listEntry value="493">8:13/km - 13:13/mile - 3:17/400m</listEntry>
            <listEntry value="494">8:14/km - 13:15/mile - 3:17/400m</listEntry>
            <listEntry value="495">8:15/km - 13:16/mile - 3:18/400m</listEntry>
            <listEntry value="496">8:16/km - 13:18/mile - 3:18/400m</listEntry>
            <listEntry value="497">8:17/km - 13:19/mile - 3:18/400m</listEntry>
            <listEntry value="498">8:18/km - 13:21/mile - 3:19/400m</listEntry>
            <listEntry value="499">8:19/km - 13:23/mile - 3:19/400m</listEntry>
            <listEntry value="500">8:20/km - 13:24/mile - 3:20/400m</listEntry>
            <listEntry value="501">8:21/km - 13:26/mile - 3:20/400m</listEntry>
            <listEntry value="502">8:22/km - 13:27/mile - 3:20/400m</listEntry>
            <listEntry value="503">8:23/km - 13:29/mile - 3:21/400m</listEntry>
            <listEntry value="504">8:24/km - 13:31/mile - 3:21/400m</listEntry>
            <listEntry value="505">8:25/km - 13:32/mile - 3:22/400m</listEntry>
            <listEntry value="506">8:26/km - 13:34/mile - 3:22/400m</listEntry>
            <listEntry value="507">8:27/km - 13:35/mile - 3:22/400m</listEntry>
            <listEntry value="508">8:28/km - 13:37/mile - 3:23/400m</listEntry>
            <listEntry value="509">8:29/km - 13:39/mile - 3:23/400m</listEntry>
            <listEntry value="510">8:30/km - 13:40/mile - 3:24/400m</listEntry>
            <listEntry value="511">8:31/km - 13:42/mile - 3:24/400m</listEntry>
            <listEntry value="512">8:32/km - 13:43/mile - 3:24/400m</listEntry>
            <listEntry value="513">8:33/km - 13:45/mile - 3:25/400m</listEntry>
            <listEntry value="514">8:34/km - 13:47/mile - 3:25/400m</listEntry>
            <listEntry value="515">8:35/km - 13:48/mile - 3:26/400m</listEntry>
            <listEntry value="516">8:36/km - 13:50/mile - 3:26/400m</listEntry>
            <listEntry value="517">8:37/km - 13:52/mile - 3:26/400m</listEntry>
            <listEntry value="518">8:38/km - 13:53/mile - 3:27/400m</listEntry>
            <listEntry value="519">8:39/km - 13:55/mile - 3:27/400m</listEntry>
            <listEntry value="520">8:40/km - 13:56/mile - 3:28/400m</listEntry>
            <listEntry value="521">8:41/km - 13:58/mile - 3:28/400m</listEntry>
            <listEntry value="522">8:42/km - 14:00/mile - 3:28/400m</listEntry>
            <listEntry value="523">8:43/km - 14:01/mile - 3:29/400m</listEntry>
            <listEntry value="524">8:44/km - 14:03/mile - 3:29/400m</listEntry>
            <listEntry value="525">8:45/km - 14:04/mile - 3:30/400m</listEntry>
            <listEntry value="526">8:46/km - 14:06/mile - 3:30/400m</listEntry>
            <listEntry value="527">8:47/km - 14:08/mile - 3:30/400m</listEntry>
            <listEntry value="528">8:48/km - 14:09/mile - 3:31/400m</listEntry>
            <listEntry value="529">8:49/km - 14:11/mile - 3:31/400m</listEntry>
            <listEntry value="530">8:50/km - 14:12/mile - 3:32/400m</listEntry>
            <listEntry value="531">8:51/km - 14:14/mile - 3:32/400m</listEntry>
            <listEntry value="532">8:52/km - 14:16/mile - 3:32/400m</listEntry>
            <listEntry value="533">8:53/km - 14:17/mile - 3:33/400m</listEntry>
            <listEntry value="534">8:54/km - 14:19/mile - 3:33/400m</listEntry>
            <listEntry value="535">8:55/km - 14:21/mile - 3:34/400m</listEntry>
            <listEntry value="536">8:56/km - 14:22/mile - 3:34/400m</listEntry>
            <listEntry value="537">8:57/km - 14:24/mile - 3:34/400m</listEntry>
            <listEntry value="538">8:58/km - 14:25/mile - 3:35/400m</listEntry>
            <listEntry value="539">8:59/km - 14:27/mile - 3:35/400m</listEntry>
        </settingConfig>
    </setting>

    <!-- Only work during workouts -->
    <setting propertyKey="@Properties.workout_only" title='Buzz only during structured workouts' prompt='Do you want it to buzz during regular runs or only during structured workouts?'>
        <settingConfig type="list">
            <listEntry value="1">Yes</listEntry>
            <listEntry value="0">No</listEntry>
        </settingConfig>
    </setting>

</settings>