<settings>

    <!-- Split distance -->
    <setting propertyKey="@Properties.split" title='Split distance' prompt='Split distance for the lap where you want the watch to buzz'>
        <settingConfig type="list">
            <listEntry value="100">100m</listEntry>
            <listEntry value="200">200m</listEntry>
            <listEntry value="400">400m</listEntry>
        </settingConfig>
    </setting>

     <!-- Pace -->
    <setting propertyKey="@Properties.pace" title='Pace (in km)' prompt='The pace you want the watch to follow'>
        <settingConfig type="list">
            <listEntry value="107">1:47 (current world record)</listEntry>
            <listEntry value="108">1:48</listEntry>
            <listEntry value="109">1:49</listEntry>
            <listEntry value="110">1:50</listEntry>
            <listEntry value="111">1:51</listEntry>
            <listEntry value="112">1:52</listEntry>
            <listEntry value="113">1:53</listEntry>
            <listEntry value="114">1:54</listEntry>
            <listEntry value="115">1:55</listEntry>
            <listEntry value="116">1:56</listEntry>
            <listEntry value="117">1:57</listEntry>
            <listEntry value="118">1:58</listEntry>
            <listEntry value="119">1:59</listEntry>
            <listEntry value="120">2:00</listEntry>
            <listEntry value="121">2:01</listEntry>
            <listEntry value="122">2:02</listEntry>
            <listEntry value="123">2:03</listEntry>
            <listEntry value="124">2:04</listEntry>
            <listEntry value="125">2:05</listEntry>
            <listEntry value="126">2:06</listEntry>
            <listEntry value="127">2:07</listEntry>
            <listEntry value="128">2:08</listEntry>
            <listEntry value="129">2:09</listEntry>
            <listEntry value="130">2:10</listEntry>
            <listEntry value="131">2:11</listEntry>
            <listEntry value="132">2:12</listEntry>
            <listEntry value="133">2:13</listEntry>
            <listEntry value="134">2:14</listEntry>
            <listEntry value="135">2:15</listEntry>
            <listEntry value="136">2:16</listEntry>
            <listEntry value="137">2:17</listEntry>
            <listEntry value="138">2:18</listEntry>
            <listEntry value="139">2:19</listEntry>
            <listEntry value="140">2:20</listEntry>
            <listEntry value="141">2:21</listEntry>
            <listEntry value="142">2:22</listEntry>
            <listEntry value="143">2:23</listEntry>
            <listEntry value="144">2:24</listEntry>
            <listEntry value="145">2:25</listEntry>
            <listEntry value="146">2:26</listEntry>
            <listEntry value="147">2:27</listEntry>
            <listEntry value="148">2:28</listEntry>
            <listEntry value="149">2:29</listEntry>
            <listEntry value="150">2:30</listEntry>
            <listEntry value="151">2:31</listEntry>
            <listEntry value="152">2:32</listEntry>
            <listEntry value="153">2:33</listEntry>
            <listEntry value="154">2:34</listEntry>
            <listEntry value="155">2:35</listEntry>
            <listEntry value="156">2:36</listEntry>
            <listEntry value="157">2:37</listEntry>
            <listEntry value="158">2:38</listEntry>
            <listEntry value="159">2:39</listEntry>
            <listEntry value="160">2:40</listEntry>
            <listEntry value="161">2:41</listEntry>
            <listEntry value="162">2:42</listEntry>
            <listEntry value="163">2:43</listEntry>
            <listEntry value="164">2:44</listEntry>
            <listEntry value="165">2:45</listEntry>
            <listEntry value="166">2:46</listEntry>
            <listEntry value="167">2:47</listEntry>
            <listEntry value="168">2:48</listEntry>
            <listEntry value="169">2:49</listEntry>
            <listEntry value="170">2:50</listEntry>
            <listEntry value="171">2:51</listEntry>
            <listEntry value="172">2:52</listEntry>
            <listEntry value="173">2:53</listEntry>
            <listEntry value="174">2:54</listEntry>
            <listEntry value="175">2:55</listEntry>
            <listEntry value="176">2:56</listEntry>
            <listEntry value="177">2:57</listEntry>
            <listEntry value="178">2:58</listEntry>
            <listEntry value="179">2:59</listEntry>
            <listEntry value="180">3:00</listEntry>
            <listEntry value="181">3:01</listEntry>
            <listEntry value="182">3:02</listEntry>
            <listEntry value="183">3:03</listEntry>
            <listEntry value="184">3:04</listEntry>
            <listEntry value="185">3:05</listEntry>
            <listEntry value="186">3:06</listEntry>
            <listEntry value="187">3:07</listEntry>
            <listEntry value="188">3:08</listEntry>
            <listEntry value="189">3:09</listEntry>
            <listEntry value="190">3:10</listEntry>
            <listEntry value="191">3:11</listEntry>
            <listEntry value="192">3:12</listEntry>
            <listEntry value="193">3:13</listEntry>
            <listEntry value="194">3:14</listEntry>
            <listEntry value="195">3:15</listEntry>
            <listEntry value="196">3:16</listEntry>
            <listEntry value="197">3:17</listEntry>
            <listEntry value="198">3:18</listEntry>
            <listEntry value="199">3:19</listEntry>
            <listEntry value="200">3:20</listEntry>
            <listEntry value="201">3:21</listEntry>
            <listEntry value="202">3:22</listEntry>
            <listEntry value="203">3:23</listEntry>
            <listEntry value="204">3:24</listEntry>
            <listEntry value="205">3:25</listEntry>
            <listEntry value="206">3:26</listEntry>
            <listEntry value="207">3:27</listEntry>
            <listEntry value="208">3:28</listEntry>
            <listEntry value="209">3:29</listEntry>
            <listEntry value="210">3:30</listEntry>
            <listEntry value="211">3:31</listEntry>
            <listEntry value="212">3:32</listEntry>
            <listEntry value="213">3:33</listEntry>
            <listEntry value="214">3:34</listEntry>
            <listEntry value="215">3:35</listEntry>
            <listEntry value="216">3:36</listEntry>
            <listEntry value="217">3:37</listEntry>
            <listEntry value="218">3:38</listEntry>
            <listEntry value="219">3:39</listEntry>
            <listEntry value="220">3:40</listEntry>
            <listEntry value="221">3:41</listEntry>
            <listEntry value="222">3:42</listEntry>
            <listEntry value="223">3:43</listEntry>
            <listEntry value="224">3:44</listEntry>
            <listEntry value="225">3:45</listEntry>
            <listEntry value="226">3:46</listEntry>
            <listEntry value="227">3:47</listEntry>
            <listEntry value="228">3:48</listEntry>
            <listEntry value="229">3:49</listEntry>
            <listEntry value="230">3:50</listEntry>
            <listEntry value="231">3:51</listEntry>
            <listEntry value="232">3:52</listEntry>
            <listEntry value="233">3:53</listEntry>
            <listEntry value="234">3:54</listEntry>
            <listEntry value="235">3:55</listEntry>
            <listEntry value="236">3:56</listEntry>
            <listEntry value="237">3:57</listEntry>
            <listEntry value="238">3:58</listEntry>
            <listEntry value="239">3:59</listEntry>
            <listEntry value="240">4:00</listEntry>
            <listEntry value="241">4:01</listEntry>
            <listEntry value="242">4:02</listEntry>
            <listEntry value="243">4:03</listEntry>
            <listEntry value="244">4:04</listEntry>
            <listEntry value="245">4:05</listEntry>
            <listEntry value="246">4:06</listEntry>
            <listEntry value="247">4:07</listEntry>
            <listEntry value="248">4:08</listEntry>
            <listEntry value="249">4:09</listEntry>
            <listEntry value="250">4:10</listEntry>
            <listEntry value="251">4:11</listEntry>
            <listEntry value="252">4:12</listEntry>
            <listEntry value="253">4:13</listEntry>
            <listEntry value="254">4:14</listEntry>
            <listEntry value="255">4:15</listEntry>
            <listEntry value="256">4:16</listEntry>
            <listEntry value="257">4:17</listEntry>
            <listEntry value="258">4:18</listEntry>
            <listEntry value="259">4:19</listEntry>
            <listEntry value="260">4:20</listEntry>
            <listEntry value="261">4:21</listEntry>
            <listEntry value="262">4:22</listEntry>
            <listEntry value="263">4:23</listEntry>
            <listEntry value="264">4:24</listEntry>
            <listEntry value="265">4:25</listEntry>
            <listEntry value="266">4:26</listEntry>
            <listEntry value="267">4:27</listEntry>
            <listEntry value="268">4:28</listEntry>
            <listEntry value="269">4:29</listEntry>
            <listEntry value="270">4:30</listEntry>
            <listEntry value="271">4:31</listEntry>
            <listEntry value="272">4:32</listEntry>
            <listEntry value="273">4:33</listEntry>
            <listEntry value="274">4:34</listEntry>
            <listEntry value="275">4:35</listEntry>
            <listEntry value="276">4:36</listEntry>
            <listEntry value="277">4:37</listEntry>
            <listEntry value="278">4:38</listEntry>
            <listEntry value="279">4:39</listEntry>
            <listEntry value="280">4:40</listEntry>
            <listEntry value="281">4:41</listEntry>
            <listEntry value="282">4:42</listEntry>
            <listEntry value="283">4:43</listEntry>
            <listEntry value="284">4:44</listEntry>
            <listEntry value="285">4:45</listEntry>
            <listEntry value="286">4:46</listEntry>
            <listEntry value="287">4:47</listEntry>
            <listEntry value="288">4:48</listEntry>
            <listEntry value="289">4:49</listEntry>
            <listEntry value="290">4:50</listEntry>
            <listEntry value="291">4:51</listEntry>
            <listEntry value="292">4:52</listEntry>
            <listEntry value="293">4:53</listEntry>
            <listEntry value="294">4:54</listEntry>
            <listEntry value="295">4:55</listEntry>
            <listEntry value="296">4:56</listEntry>
            <listEntry value="297">4:57</listEntry>
            <listEntry value="298">4:58</listEntry>
            <listEntry value="299">4:59</listEntry>
            <listEntry value="300">5:00</listEntry>
            <listEntry value="301">5:01</listEntry>
            <listEntry value="302">5:02</listEntry>
            <listEntry value="303">5:03</listEntry>
            <listEntry value="304">5:04</listEntry>
            <listEntry value="305">5:05</listEntry>
            <listEntry value="306">5:06</listEntry>
            <listEntry value="307">5:07</listEntry>
            <listEntry value="308">5:08</listEntry>
            <listEntry value="309">5:09</listEntry>
            <listEntry value="310">5:10</listEntry>
            <listEntry value="311">5:11</listEntry>
            <listEntry value="312">5:12</listEntry>
            <listEntry value="313">5:13</listEntry>
            <listEntry value="314">5:14</listEntry>
            <listEntry value="315">5:15</listEntry>
            <listEntry value="316">5:16</listEntry>
            <listEntry value="317">5:17</listEntry>
            <listEntry value="318">5:18</listEntry>
            <listEntry value="319">5:19</listEntry>
            <listEntry value="320">5:20</listEntry>
            <listEntry value="321">5:21</listEntry>
            <listEntry value="322">5:22</listEntry>
            <listEntry value="323">5:23</listEntry>
            <listEntry value="324">5:24</listEntry>
            <listEntry value="325">5:25</listEntry>
            <listEntry value="326">5:26</listEntry>
            <listEntry value="327">5:27</listEntry>
            <listEntry value="328">5:28</listEntry>
            <listEntry value="329">5:29</listEntry>
            <listEntry value="330">5:30</listEntry>
            <listEntry value="331">5:31</listEntry>
            <listEntry value="332">5:32</listEntry>
            <listEntry value="333">5:33</listEntry>
            <listEntry value="334">5:34</listEntry>
            <listEntry value="335">5:35</listEntry>
            <listEntry value="336">5:36</listEntry>
            <listEntry value="337">5:37</listEntry>
            <listEntry value="338">5:38</listEntry>
            <listEntry value="339">5:39</listEntry>
            <listEntry value="340">5:40</listEntry>
            <listEntry value="341">5:41</listEntry>
            <listEntry value="342">5:42</listEntry>
            <listEntry value="343">5:43</listEntry>
            <listEntry value="344">5:44</listEntry>
            <listEntry value="345">5:45</listEntry>
            <listEntry value="346">5:46</listEntry>
            <listEntry value="347">5:47</listEntry>
            <listEntry value="348">5:48</listEntry>
            <listEntry value="349">5:49</listEntry>
            <listEntry value="350">5:50</listEntry>
            <listEntry value="351">5:51</listEntry>
            <listEntry value="352">5:52</listEntry>
            <listEntry value="353">5:53</listEntry>
            <listEntry value="354">5:54</listEntry>
            <listEntry value="355">5:55</listEntry>
            <listEntry value="356">5:56</listEntry>
            <listEntry value="357">5:57</listEntry>
            <listEntry value="358">5:58</listEntry>
            <listEntry value="359">5:59</listEntry>
            <listEntry value="360">6:00</listEntry>
            <listEntry value="361">6:01</listEntry>
            <listEntry value="362">6:02</listEntry>
            <listEntry value="363">6:03</listEntry>
            <listEntry value="364">6:04</listEntry>
            <listEntry value="365">6:05</listEntry>
            <listEntry value="366">6:06</listEntry>
            <listEntry value="367">6:07</listEntry>
            <listEntry value="368">6:08</listEntry>
            <listEntry value="369">6:09</listEntry>
            <listEntry value="370">6:10</listEntry>
            <listEntry value="371">6:11</listEntry>
            <listEntry value="372">6:12</listEntry>
            <listEntry value="373">6:13</listEntry>
            <listEntry value="374">6:14</listEntry>
            <listEntry value="375">6:15</listEntry>
            <listEntry value="376">6:16</listEntry>
            <listEntry value="377">6:17</listEntry>
            <listEntry value="378">6:18</listEntry>
            <listEntry value="379">6:19</listEntry>
            <listEntry value="380">6:20</listEntry>
            <listEntry value="381">6:21</listEntry>
            <listEntry value="382">6:22</listEntry>
            <listEntry value="383">6:23</listEntry>
            <listEntry value="384">6:24</listEntry>
            <listEntry value="385">6:25</listEntry>
            <listEntry value="386">6:26</listEntry>
            <listEntry value="387">6:27</listEntry>
            <listEntry value="388">6:28</listEntry>
            <listEntry value="389">6:29</listEntry>
            <listEntry value="390">6:30</listEntry>
            <listEntry value="391">6:31</listEntry>
            <listEntry value="392">6:32</listEntry>
            <listEntry value="393">6:33</listEntry>
            <listEntry value="394">6:34</listEntry>
            <listEntry value="395">6:35</listEntry>
            <listEntry value="396">6:36</listEntry>
            <listEntry value="397">6:37</listEntry>
            <listEntry value="398">6:38</listEntry>
            <listEntry value="399">6:39</listEntry>
            <listEntry value="400">6:40</listEntry>
            <listEntry value="401">6:41</listEntry>
            <listEntry value="402">6:42</listEntry>
            <listEntry value="403">6:43</listEntry>
            <listEntry value="404">6:44</listEntry>
            <listEntry value="405">6:45</listEntry>
            <listEntry value="406">6:46</listEntry>
            <listEntry value="407">6:47</listEntry>
            <listEntry value="408">6:48</listEntry>
            <listEntry value="409">6:49</listEntry>
            <listEntry value="410">6:50</listEntry>
            <listEntry value="411">6:51</listEntry>
            <listEntry value="412">6:52</listEntry>
            <listEntry value="413">6:53</listEntry>
            <listEntry value="414">6:54</listEntry>
            <listEntry value="415">6:55</listEntry>
            <listEntry value="416">6:56</listEntry>
            <listEntry value="417">6:57</listEntry>
            <listEntry value="418">6:58</listEntry>
            <listEntry value="419">6:59</listEntry>
            <listEntry value="420">7:00</listEntry>
            <listEntry value="421">7:01</listEntry>
            <listEntry value="422">7:02</listEntry>
            <listEntry value="423">7:03</listEntry>
            <listEntry value="424">7:04</listEntry>
            <listEntry value="425">7:05</listEntry>
            <listEntry value="426">7:06</listEntry>
            <listEntry value="427">7:07</listEntry>
            <listEntry value="428">7:08</listEntry>
            <listEntry value="429">7:09</listEntry>
            <listEntry value="430">7:10</listEntry>
            <listEntry value="431">7:11</listEntry>
            <listEntry value="432">7:12</listEntry>
            <listEntry value="433">7:13</listEntry>
            <listEntry value="434">7:14</listEntry>
            <listEntry value="435">7:15</listEntry>
            <listEntry value="436">7:16</listEntry>
            <listEntry value="437">7:17</listEntry>
            <listEntry value="438">7:18</listEntry>
            <listEntry value="439">7:19</listEntry>
            <listEntry value="440">7:20</listEntry>
            <listEntry value="441">7:21</listEntry>
            <listEntry value="442">7:22</listEntry>
            <listEntry value="443">7:23</listEntry>
            <listEntry value="444">7:24</listEntry>
            <listEntry value="445">7:25</listEntry>
            <listEntry value="446">7:26</listEntry>
            <listEntry value="447">7:27</listEntry>
            <listEntry value="448">7:28</listEntry>
            <listEntry value="449">7:29</listEntry>
            <listEntry value="450">7:30</listEntry>
            <listEntry value="451">7:31</listEntry>
            <listEntry value="452">7:32</listEntry>
            <listEntry value="453">7:33</listEntry>
            <listEntry value="454">7:34</listEntry>
            <listEntry value="455">7:35</listEntry>
            <listEntry value="456">7:36</listEntry>
            <listEntry value="457">7:37</listEntry>
            <listEntry value="458">7:38</listEntry>
            <listEntry value="459">7:39</listEntry>
            <listEntry value="460">7:40</listEntry>
            <listEntry value="461">7:41</listEntry>
            <listEntry value="462">7:42</listEntry>
            <listEntry value="463">7:43</listEntry>
            <listEntry value="464">7:44</listEntry>
            <listEntry value="465">7:45</listEntry>
            <listEntry value="466">7:46</listEntry>
            <listEntry value="467">7:47</listEntry>
            <listEntry value="468">7:48</listEntry>
            <listEntry value="469">7:49</listEntry>
            <listEntry value="470">7:50</listEntry>
            <listEntry value="471">7:51</listEntry>
            <listEntry value="472">7:52</listEntry>
            <listEntry value="473">7:53</listEntry>
            <listEntry value="474">7:54</listEntry>
            <listEntry value="475">7:55</listEntry>
            <listEntry value="476">7:56</listEntry>
            <listEntry value="477">7:57</listEntry>
            <listEntry value="478">7:58</listEntry>
            <listEntry value="479">7:59</listEntry>
            <listEntry value="480">8:00</listEntry>
            <listEntry value="481">8:01</listEntry>
            <listEntry value="482">8:02</listEntry>
            <listEntry value="483">8:03</listEntry>
            <listEntry value="484">8:04</listEntry>
            <listEntry value="485">8:05</listEntry>
            <listEntry value="486">8:06</listEntry>
            <listEntry value="487">8:07</listEntry>
            <listEntry value="488">8:08</listEntry>
            <listEntry value="489">8:09</listEntry>
            <listEntry value="490">8:10</listEntry>
            <listEntry value="491">8:11</listEntry>
            <listEntry value="492">8:12</listEntry>
            <listEntry value="493">8:13</listEntry>
            <listEntry value="494">8:14</listEntry>
            <listEntry value="495">8:15</listEntry>
            <listEntry value="496">8:16</listEntry>
            <listEntry value="497">8:17</listEntry>
            <listEntry value="498">8:18</listEntry>
            <listEntry value="499">8:19</listEntry>
            <listEntry value="500">8:20</listEntry>
            <listEntry value="501">8:21</listEntry>
            <listEntry value="502">8:22</listEntry>
            <listEntry value="503">8:23</listEntry>
            <listEntry value="504">8:24</listEntry>
            <listEntry value="505">8:25</listEntry>
            <listEntry value="506">8:26</listEntry>
            <listEntry value="507">8:27</listEntry>
            <listEntry value="508">8:28</listEntry>
            <listEntry value="509">8:29</listEntry>
            <listEntry value="510">8:30</listEntry>
            <listEntry value="511">8:31</listEntry>
            <listEntry value="512">8:32</listEntry>
            <listEntry value="513">8:33</listEntry>
            <listEntry value="514">8:34</listEntry>
            <listEntry value="515">8:35</listEntry>
            <listEntry value="516">8:36</listEntry>
            <listEntry value="517">8:37</listEntry>
            <listEntry value="518">8:38</listEntry>
            <listEntry value="519">8:39</listEntry>
            <listEntry value="520">8:40</listEntry>
            <listEntry value="521">8:41</listEntry>
            <listEntry value="522">8:42</listEntry>
            <listEntry value="523">8:43</listEntry>
            <listEntry value="524">8:44</listEntry>
            <listEntry value="525">8:45</listEntry>
            <listEntry value="526">8:46</listEntry>
            <listEntry value="527">8:47</listEntry>
            <listEntry value="528">8:48</listEntry>
            <listEntry value="529">8:49</listEntry>
            <listEntry value="530">8:50</listEntry>
            <listEntry value="531">8:51</listEntry>
            <listEntry value="532">8:52</listEntry>
            <listEntry value="533">8:53</listEntry>
            <listEntry value="534">8:54</listEntry>
            <listEntry value="535">8:55</listEntry>
            <listEntry value="536">8:56</listEntry>
            <listEntry value="537">8:57</listEntry>
            <listEntry value="538">8:58</listEntry>
            <listEntry value="539">8:59</listEntry>
        </settingConfig>
    </setting>

</settings>